<div class="container">
        <div class="content-title">
            <h1>Mikelas</h1>
        </div>

        <form class="form-login-margin-top">
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="text"  class="form-control-plaintext" id="staticEmail" placeholder="email@example.com">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
          </div>
          <input class="btn btn-primary btn-block" type="submit" value="Iniciar Sesion">
          <input type="submit" class="btn btn-secondary btn-block" value="Registrarse"/>
        </form>
        
</div>