/* You can add global styles to this file, and also import other style files */
.form-login-margin-top{

    animation-duration: 3s;
    animation-name: slidein;
    /*animation-iteration-count: infinite; property for repetitions*/
    animation-direction: alternate;
}

.slidein {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 3;
    animation-direction: alternate;
  }
  
  .content-title{
    animation-duration: 3s;
    animation-name: opacityTitle;
    animation-iteration-count: 3;
    animation-direction: alternate;
  }

  .opacityTitle {
    animation-duration: 3s;
    animation-name: opacityTitle;
    animation-iteration-count: 3;
    animation-direction: alternate;
  }

  @keyframes slidein {
    from {
      margin-left:100%;
      width:300%
    }
    
    to {
     margin-left:0%;
     width:100%;
   }
  }

  @keyframes opacityTitle {
    from {
     opacity: 0.5;
    }
    
    to {
     opacity: 1;
   }
  }